<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Slow</string>
	<key>sprite</key>
	<string>gameimg/status/status_slow.png</string>
	<key>type</key>
	<integer>801</integer>
</dict>
</plist>
