<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>triangle-black_back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>triangle-black_back_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>triangle-black_forward_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>triangle-black_forward_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>triangle-black_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,32},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>triangle-black_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,32},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>triangle-black_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,32},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>triangle-black_right_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,32},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{64,64}</string>
		<key>textureFileName</key>
		<string>triangle-black-mass.png</string>
	</dict>
</dict>
</plist>
