<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Time</string>
	<key>sprite</key>
	<string>gameimg/towers/infinity.png</string>
	<key>projectile-sprite</key>
	<string>gameimg/projectiles/bullet_infinity.png</string>
	<key>projectile-explosion</key>
	<string>ProjectileExplosion.plist</string>
	<key>projectile-damage</key>
	<integer>1</integer>
	<key>projectile-splash</key>
	<string>200</string>
	<key>projectile-speed</key>
	<integer>200</integer>
	<key>projectile-range</key>
	<integer>200</integer>
	<key>projectile-status</key>
	<integer>801</integer>
	<key>tower-fireRate</key>
	<real>0.5</real>
	<key>tower-range</key>
	<integer>200</integer>
	<key>tower-rotateSpeed</key>
	<real>0.3</real>
	<key>tower-hp</key>
	<integer>1000</integer>
	<key>tower-mp</key>
	<integer>50</integer>
</dict>
</plist>
